---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.astro";

const { href } = Astro.url;
---

<Layout title="About John Tsevdos" description="About John Tsevdos" url={href}>
  <Header client:load />

  <div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
      <div class="text-center">
        <h1 class="mb-3 text-4xl font-black text-black dark:text-white">About</h1>
        <h2 class="mx-auto text-2xl font-medium leading-relaxed text-gray-800 dark:text-gray-100 lg:w-2/3">
          Learn more about me
        </h2>
      </div>

      <article
        class="prose prose-xl md:prose-2xl prose-a:text-blue-700 mx-auto dark:prose-invert dark:prose-a:text-blue-400"
      >
        <!-- <img
          src="https://cdn.tailkit.com/media/placeholders/photo-VWcPlbHglYc-800x400.jpg"
          alt="Featured Image of blog post"
        /> -->
        <p>
          I am a software engineer with over 18 years of experience crafting usable, elegant and effective web
          applications. Currently, I am employed at <a href="https://orfium.com" target="_blank">Orfium</a>, a company
          specializing in music rights management and monetization solutions. Outside of work, I love working on
          personal projects, contributing to open-source projects, and consult on various web applications and
          tecnologies. I also enjoy sharing my knowledge of JavaScript, TypeScript, and React as instructor at senimars
          and workshops.
        </p>
        <p>
          For the past 8 years, I have been building web applications using <a
            href="https://facebook.github.io/react/"
            target="_blank">React</a
          > and a variety of frameworks including <a href="https://nextjs.org/" target="_blank">Next.js</a> and <a
            href="https://astro.build/"
            target="_blank">Astro</a
          >, as well as state management tools such as <a href="https://redux.js.org/" target="_blank">redux</a>, <a
            href="https://recoiljs.org/"
            target="_blank">Recoil</a
          >
          and <a href="https://zustand.surge.sh" target="_blank">zustand</a>. I have also utilized many libraries from
          the React ecosystem, including <a href="https://github.com/ReactTraining/react-router" target="_blank"
            >React Router</a
          >, <a href="https://react-query.tanstack.com/" target="_blank">React Query</a>, <a
            href="https://www.styled-components.com/"
            target="_blank">Styled-Components</a
          > and <a href="https://emotion.sh" target="_blank">emotion.js</a>, <a
            href="https://react-hook-form.com/"
            target="_blank">React Hook Form</a
          >, <a href="https://formatjs.io/" target="_blank">React i18n</a>, <a
            href="https://ant.design/"
            target="_blank">Ant Design</a
          >, <a href="https://material-ui.com/" target="_blank">Material UI</a>, <a
            href="https://reactstrap.github.io/"
            target="_blank">Reactstrap</a
          >, and many more. I am constantly striving to improve my knowledge and skills by learning <a
            href="https://www.rust-lang.org/"
            target="_blank">Rust</a
          > and exploring functional and reactive programming with languages and libraries like <a
            href="https://gleam.run/"
            target="_blank">Gleam</a
          >, <a href="http://ramdajs.com/" target="_blank">Ramda.js</a>, and <a
            href="http://reactivex.io/rxjs/"
            target="_blank">RxJS</a
          >. Finally, I also have hands-on experience with several other JavaScript frameworks and libraries, including
          <a href="https://vuejs.org/" target="_blank">Vue.js</a>, <a href="https://angular.io/" target="_blank"
            >Angular</a
          >, <a href="https://svelte.dev" target="_blank">Svelte</a>, <a href="http://backbonejs.org/" target="_blank"
            >Backbone.js</a
          >, <a href="https://jquery.com/" target="_blank">jQuery</a>, <a
            href="http://underscorejs.org/"
            target="_blank">Underscore</a
          > and <a href="https://lodash.com/" target="_blank">Lodash</a>, <a
            href="https://github.com/mzabriskie/axios"
            target="_blank">axios</a
          >, <a href="https://date-fns.org/" target="_blank">date-fns</a>, and many more.
        </p>

        <p>
          In the backend stack, I love working with <a href="https://nodejs.org/" target="_blank">Node.js</a>, <a
            href="https://nextjs.org/"
            target="_blank">Next.js</a
          >, <a href="https://expressjs.com/" target="_blank">express</a>, and express-like frameworks. I also have a
          decent understanding in <a href="https://www.php.net/" target="_blank">PHP</a>, <a
            href="https://www.ruby-lang.org/"
            target="_blank">Ruby</a
          > (and <a href="http://rubyonrails.org/" target="_blank">Rails</a>) as well as several SQL and NoSQL databases
          such as <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>, <a
            href="https://www.mysql.com/"
            target="_blank">MySQL</a
          >, <a href="https://sqlite.org/" target="_blank">SQLite</a>, <a
            href="https://www.mongodb.com/"
            target="_blank">MongoDB</a
          >, and more. Finally, I am a big fan of <a href="https://www.linux.org/" target="_blank">Linux OS</a>
          (currently using <a href="https://www.ubuntu.com" target="_blank">Ubuntu</a> distro), <a
            href="https://git-scm.com/"
            target="_blank">git</a
          >, <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">agile methodologies</a> and
          always trying to do as much of <a href="https://en.wikipedia.org/wiki/Test-driven_development" target="_blank"
            >TDD (Test-Driven Development)</a
          > as possible. If you want to learn more about me have a look at <a
            class="font-bold"
            href="/john_tsevdos_cv.pdf"
            target="_blank">my CV</a
          >.
        </p>
      </article>
    </div>
  </div>

  <Footer />
</Layout>
