<!-- CTA Section: Simple Box Dark -->
<div class="bg-white dark:bg-gray-900">
  <div class="container relative mx-auto px-4 py-16 lg:px-8 lg:py-32 xl:max-w-6xl">
    <div class="absolute inset-0 -mx-2 my-6 overflow-hidden rounded-lg bg-gray-800 lg:my-20">
      <div class="absolute bottom-0 right-0 top-0 -mr-20 hidden w-1/2 -skew-x-6 bg-gray-700/30 md:block"></div>
    </div>
    <div class="relative flex flex-col items-center space-y-8 md:flex-row md:space-y-0">
      <!-- Heading -->
      <div class="py-5 text-center md:w-7/12 md:p-5 md:text-left">
        <h2 class="mb-4 text-4xl font-black text-white">Join our community today and learn React now!</h2>
        <h3 class="text-xl leading-relaxed text-gray-300">
          Get all the help you need to start building professional web sites and applications.
        </h3>
      </div>
      <!-- END Heading -->

      <!-- Actions -->
      <div class="grow md:p-5 md:text-center">
        <a
          href="javascript:void(0)"
          class="inline-flex items-center justify-center space-x-2 rounded-full border border-blue-700 bg-blue-700 px-8 py-4 font-semibold leading-6 text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:border-blue-700 active:bg-blue-700"
        >
          <svg
            class="hi-mini hi-user-plus inline-block size-5 opacity-50"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M11 5a3 3 0 11-6 0 3 3 0 016 0zM2.615 16.428a1.224 1.224 0 01-.569-1.175 6.002 6.002 0 0111.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 018 18a9.953 9.953 0 01-5.385-1.572zM16.25 5.75a.75.75 0 00-1.5 0v2h-2a.75.75 0 000 1.5h2v2a.75.75 0 001.5 0v-2h2a.75.75 0 000-1.5h-2v-2z"
            ></path>
          </svg>
          <span>Create Account</span>
        </a>
      </div>
      <!-- END Actions -->
    </div>
  </div>
</div>
<!-- END CTA Section: Simple Box Dark -->
