<div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
  <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 xl:max-w-7xl">
    <div class="text-center">
      <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
        Beyond code: <span class="bg-gradient-to-r from-rose-500 to-red-500 bg-clip-text text-transparent"
          >learn more about me!</span
        >
      </h2>
      <div class="mx-auto mb-3 h-1.5 w-12 rounded-lg bg-gray-300 dark:bg-gray-700/75"></div>
      <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
        Discover some (fun❓) facts about myself and my journey to web development...
      </h3>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3">
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Surfing the web since the mid ’90s!</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            My first time online was in 1995, using a dial-up connection!
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">(MSc) in Internet Applications Development</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I hold a Master of Science in Internet Applications Development from <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://www.londonmet.ac.uk/"
                >London Metropolitan University</a
              ></strong
            > (2006).
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">18+ years of experience</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I’ve been building websites and web applications since the <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://en.wikipedia.org/wiki/Web_2.0#Web_1.0">Web 1.0 era</a
              ></strong
            > — long before modern frameworks — and survived the <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://en.wikipedia.org/wiki/Browser_wars">browser wars</a
              ></strong
            >!
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Front-end team leader</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I’ve led front-end teams since 2018, serving as the lead developer across my last three companies.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Really early React adopter</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I’ve been using <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://react.dev/">React</a
              ></strong
            > since the classes era — long before it became mainstream.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">React and JS/TS instructor</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            The past 7 years, I've been sharing my knowledge and passion for React, JavaScript and TypeScript as an
            instructor on various organizations.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Hardcore Linux fan</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            A happy Linux user since 2008! My current distros of choice are <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://ubuntu.com/"
                >Ubuntu</a
              ></strong
            > and <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://get.opensuse.org/tumbleweed/">openSUSE Tumbleweed</a
              ></strong
            >.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">I love Open Source Software</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I love working with OSS. Check out <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://github.com/tsevdos"
                >my contributions</a
              ></strong
            > and <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://www.npmjs.com/~tsevdos">my packages</a
              ></strong
            >.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Experience both in OOP and FP</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I've worked with both <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://en.wikipedia.org/wiki/Object-oriented_programming">Object-Oriented</a
              ></strong
            > and <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://en.wikipedia.org/wiki/Functional_programming">Functional</a
              >
            </strong> programming. I like both paradigms...
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">React 2 React Athens meetup</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            Co-organizer of the
            <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://www.meetup.com/React-To-React-Athens-MeetUp">React 2 React Athens meetup</a
              ></strong
            >, <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://react.dev/community/meetups#greece">the official React meetup in Athens</a
              ></strong
            >.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Learning Python and Go</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I'm constantly learning new things, currently, I'm learning <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://www.python.org"
                >Python</a
              ></strong
            > and <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://go.dev"
                >Go language</a
              ></strong
            >.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">TDD</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            Trying to do as much Test-Driven Development as possible... I'm also member of the <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://motathens.gr"
                >Ministry of Testing Athens</a
              ></strong
            >.
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">I'm agile</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            Agile methodologies really work, but only if you use them correctly...
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">Public speaking</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            Check out my presentations and talks section! 😁
          </p>
        </div>
      </div>
      <div class="flex space-x-3">
        <svg
          class="hi-outline hi-check-circle inline-block size-6 flex-none text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h4 class="mb-2 font-semibold">JSON fun fact</h4>
          <p class="text-sm font-medium leading-relaxed text-gray-600 dark:text-gray-400">
            I am responsible for the greek translation of
            <strong
              ><a
                target="_blank"
                class="text-gray-700 underline dark:text-gray-300"
                href="https://json.org/json-el.html"
              >
                Introducing JSON</a
              ></strong
            >, originally written from

            <strong
              ><a target="_blank" class="text-gray-700 underline dark:text-gray-300" href="https://www.crockford.com">
                Douglas Crockford</a
              ></strong
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
