---
import { Image } from "astro:assets";
import hero from "../assets/hero.png";
---

<div class="relative overflow-hidden bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
  <div
    class="container relative mx-auto grid grid-cols-1 gap-16 px-4 py-16 text-center lg:grid-cols-2 lg:px-8 lg:text-left xl:max-w-7xl"
  >
    <div class="lg:flex lg:items-center">
      <div>
        <h1 class="mb-4 text-5xl font-black tracking-tight text-black dark:text-white xl:text-6xl">
          👋 Hello there, <strong class="text-blue-500 dark:text-blue-300">how can I help</strong>?
        </h1>
        <p class="text-2xl font-medium text-gray-700 dark:text-gray-300">
          Hi, I'm John Tsevdos, a software engineer from Athens, Greece 🇬🇷! I'm passionate about <strong
            class="text-3xl font-bold">web technologies</strong
          >, <a
            href="/open-source-software"
            class="text-3xl font-bold text-blue-600 underline hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-300"
            >open source</a
          >, and <strong class="text-3xl font-bold">software engineering</strong>. I love full-stack development with <a
            href="https://www.typescriptlang.org/"
            target="_blank"
            rel="noreferrer"
            class="text-3xl font-bold text-blue-500 underline decoration-blue-500">TypeScript</a
          >,
          <a
            href="https://reactjs.org/"
            target="_blank"
            rel="noreferrer"
            class="text-3xl font-bold text-cyan-400 underline decoration-cyan-400">React</a
          > and its rich ecosystem, and enjoy exploring <a
            href="https://en.wikipedia.org/wiki/Serverless_computing"
            target="_blank"
            rel="noreferrer"
            class="text-3xl font-bold text-fuchsia-500 underline decoration-fuchsia-500">Serverless</a
          > and <strong class="text-3xl font-bold">cloud technologies</strong>.
        </p>
        <p class="text-2xl font-medium pb-8 pt-5 text-gray-700 dark:text-gray-300">
          Alongside my work, I offer <strong class="text-3xl font-bold">consulting</strong> and <strong
            class="text-3xl font-bold">training</strong
          > in these technologies and co-organize the <a
            href="https://www.meetup.com/react-to-react-athens-meetup/"
            target="_blank"
            rel="noreferrer"
            class="text-2xl font-bold text-blue-500 underline decoration-blue-500">React Athens MeetUp</a
          >!
        </p>
        <!-- <div class="flex flex-col justify-center gap-3 sm:flex-row sm:items-center lg:justify-start">
          <a
            href="javascript:void(0)"
            class="group inline-flex items-center justify-center gap-2 rounded-lg border border-blue-700 bg-blue-700 px-7 py-3.5 text-sm font-semibold text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400 dark:focus:ring-opacity-90"
          >
            <span>React training</span>
            <svg
              class="hi-mini hi-arrow-right inline-block size-5 opacity-50 transition group-hover:translate-x-1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="javascript:void(0)"
            class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-7 py-3.5 text-sm font-semibold text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700"
          >
            <span>React consulting</span>
            <svg
              class="hi-mini hi-arrow-right inline-block size-5 opacity-50 transition group-hover:translate-x-1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div> -->
      </div>
    </div>
    <div class="hidden md:block relative lg:flex lg:items-center lg:justify-center">
      <div class="absolute left-0 top-20 size-16 rounded-3xl bg-gradient-to-br from-gray-200 dark:from-gray-800"></div>
      <div
        class="absolute bottom-20 right-0 size-16 rotate-12 rounded-3xl bg-gradient-to-tl from-pink-200 dark:from-pink-900"
      >
      </div>
      <div
        class="absolute right-0 top-0 size-16 -rotate-6 rounded-full bg-gradient-to-bl from-orange-200 dark:from-orange-800"
      >
      </div>
      <div
        class="absolute bottom-0 left-0 size-16 rotate-12 rounded-full bg-gradient-to-tr from-sky-200 dark:from-sky-800"
      >
      </div>
      <div
        class="absolute right-0 top-0 size-40 rounded-full border-2 border-orange-200 bg-white dark:border-orange-900 dark:bg-gray-900 sm:size-72"
      >
      </div>
      <div
        class="absolute bottom-0 left-0 size-40 rounded-full border-2 border-sky-200 bg-white dark:border-sky-900 dark:bg-gray-900 sm:size-72"
      >
      </div>
      <div class="relative w-full">
        <div class="aspect-h-1 aspect-w-1">
          <Image src={hero} alt="Indie hacker" loading="eager" />
        </div>
      </div>
    </div>
  </div>
</div>
