<div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
  <div class="container mx-auto space-y-8 px-4 py-16 lg:px-8 xl:max-w-7xl">
    <div class="text-center">
      <h2 class="mb-4 text-4xl font-black text-black dark:text-white">I'm social, let's connect 🤝</h2>
      <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
        I'm passionate about web technologies, open source, programming, and development. Feel free to connect if you
        share the same passion.
      </h3>
    </div>

    <div class="flex flex-wrap items-center justify-center gap-3">
      <a
        class="inline-flex justify-center items-center gap-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-600 hover:border-blue-600 focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700 dark:focus:ring-blue-400 dark:focus:ring-opacity-90"
        href="https://www.linkedin.com/in/tsevdosjohn"
        target="_blank"
      >
        <svg
          class="bi bi-linkedin inline-block size-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 16"
          aria-hidden="true"
          ><path
            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
          ></path></svg
        >
        <span>LinkedIn</span>
      </a>
      <a
        class="inline-flex justify-center items-center gap-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-grey-900 bg-white text-grey-900 hover:text-grey-800 hover:bg-gray-100 hover:border-gray-800 focus:ring focus:ring-grey-600 focus:ring-opacity-50 active:bg-grey-900 active:border-grey-900 dark:focus:ring-grey-600 dark:focus:ring-opacity-90 dark:hover:bg-gray-800 dark:text-gray-800 dark:hover:text-gray-100"
        href="https://github.com/tsevdos"
        target="_blank"
      >
        <svg
          class="bi bi-github inline-block size-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 16"
          aria-hidden="true"
          ><path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
        <span>GitHub</span>
      </a>
      <a
        class="inline-flex justify-center items-center gap-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-rose-700 bg-rose-700 text-white hover:text-white hover:bg-rose-600 hover:border-rose-600 focus:ring focus:ring-rose-400 focus:ring-opacity-50 active:bg-rose-700 active:border-rose-700 dark:focus:ring-rose-400 dark:focus:ring-opacity-90"
        href="https://www.npmjs.com/~tsevdos"
        target="_blank"
      >
        <svg
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-npm inline-block w-5 h-5"
          data-astro-source-file="/home/john/Desktop/tsevdos.me/src/components/Hero.astro"
          data-astro-source-loc="106:10"
        >
          <path
            d="M1.763 0C.786 0 0 .786 0 1.763v20.474C0 23.214.786 24 1.763 24h20.474c.977 0 1.763-.786 1.763-1.763V1.763C24 .786 23.214 0 22.237 0zM5.13 5.323l13.837.019-.009 13.836h-3.464l.01-10.382h-3.456L12.04 19.17H5.113z"
            data-astro-source-file="/home/john/Desktop/tsevdos.me/src/components/Hero.astro"
            data-astro-source-loc="107:12"></path>
        </svg>
        <span>npm</span>
      </a>
      <a
        class="inline-flex justify-center items-center gap-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-grey-900 bg-white text-grey-900 hover:text-grey-800 hover:bg-gray-100 hover:border-gray-800 focus:ring focus:ring-grey-600 focus:ring-opacity-50 active:bg-grey-900 active:border-grey-900 dark:focus:ring-grey-600 dark:focus:ring-opacity-90 dark:hover:bg-gray-800 dark:text-gray-800 dark:hover:text-gray-100"
        href="https://twitter.com/tsevdos"
        target="_blank"
      >
        <svg
          class="bi bi-twitter-x inline-block size-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 16"
          aria-hidden="true"
          ><path
            d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"
          ></path></svg
        >
        <span>X (twitter)</span>
      </a>
      <a
        class="inline-flex justify-center items-center gap-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-pink-900 bg-pink-700 text-white hover:text-white hover:bg-pink-600 hover:border-pink-800 focus:ring focus:ring-pink-400 focus:ring-opacity-50 active:bg-pink-700 active:border-pink-700 dark:focus:ring-pink-400 dark:focus:ring-opacity-90"
        href="https://public.tsevdos.me/john_tsevdos_cv.pdf"
        target="_blank"
      >
        <svg
          class="bi bi-file-pdf-fill inline-block size-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 16"
          aria-hidden="true"
          ><path
            d="M5.523 10.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.035 21.035 0 0 0 .5-1.05 11.96 11.96 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.888 3.888 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 4.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"
          ></path><path
            fill-rule="evenodd"
            d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm.165 11.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.64 11.64 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.707 19.707 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"
          ></path></svg
        >
        <span>Full CV</span>
      </a>
    </div>
  </div>
</div>
