<div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
  <div class="container mx-auto space-y-8 px-4 py-16 lg:px-8 xl:max-w-7xl">
    <div class="flex flex-col space-y-4 lg:flex-row lg:items-center lg:space-y-0">
      <div class="text-center lg:w-1/2 lg:text-left">
        <h2 class="mb-2 text-4xl font-black text-black dark:text-white">Working on 👌</h2>
        <h3 class="text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300">Check out my latest work!</h3>
      </div>
    </div>
    <hr class="border-gray-300 dark:border-gray-700/75" />
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
      <a
        href="https://www.npmjs.com/package/@tsevdos/el-utils"
        target="_blank"
        class="group relative flex flex-col overflow-hidden rounded-lg bg-gradient-to-bl from-orange-200 via-red-400 to-pink-600 text-white shadow-sm transition hover:ring-4 hover:ring-red-400 active:opacity-90"
      >
        <div class="absolute right-0 top-0 opacity-25">
          <svg
            class="hi-mini hi-bolt w-30 h-30 inline-block"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M11.983 1.907a.75.75 0 00-1.292-.657l-8.5 9.5A.75.75 0 002.75 12h6.572l-1.305 6.093a.75.75 0 001.292.657l8.5-9.5A.75.75 0 0017.25 8h-6.572l1.305-6.093z"
            ></path>
          </svg>
        </div>
        <div class="flex grow flex-col">
          <div class="p-5 space-x-2">
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              OSS
            </div>
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              npm package
            </div>
          </div>
          <div class="grow space-y-1 p-5">
            <h3 class="text-lg font-semibold">elUtils</h3>
            <p class="text-base font-medium text-white">
              A library that contains convenient, easy-to-use, and lightweight utility functions that solve many
              problems we face daily when building applications for Greek businesses.
            </p>
          </div>
          <div class="p-5 text-sm font-medium uppercase tracking-wide opacity-75">48 GitHub stars</div>
        </div>
      </a>

      <a
        href="https://github.com/tsevdos/js-masterclass"
        target="_blank"
        class="group relative flex flex-col overflow-hidden rounded-lg bg-gradient-to-bl from-yellow-200 via-amber-400 to-orange-600 text-white shadow-sm transition hover:ring-4 hover:ring-amber-400 active:opacity-90"
      >
        <div class="absolute right-0 top-0 opacity-25">
          <svg
            class="hi-mini hi-bolt w-30 h-30 inline-block"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M11.983 1.907a.75.75 0 00-1.292-.657l-8.5 9.5A.75.75 0 002.75 12h6.572l-1.305 6.093a.75.75 0 001.292.657l8.5-9.5A.75.75 0 0017.25 8h-6.572l1.305-6.093z"
            ></path>
          </svg>
        </div>
        <div class="flex grow flex-col">
          <div class="p-5 space-x-2">
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              training
            </div>
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              course
            </div>
          </div>
          <div class="grow space-y-1 p-5">
            <h3 class="text-lg font-semibold">JavaScript Masterclass</h3>
            <p class="text-base font-medium text-white">
              Pick any of these modules and start learning JavaScript today. All presentations, code examples and
              exercises are available for free (OSS).
            </p>
          </div>
        </div>
        <div class="p-5 text-sm font-medium uppercase tracking-wide opacity-75">10 modules</div>
      </a>
      <!-- href="https://github.com/tsevdos/codehub-react"
      target="_blank" -->
      <!-- <div
        class="group relative flex flex-col overflow-hidden rounded-lg bg-gradient-to-bl from-cyan-700 via-blue-500 to-indigo-600 text-white shadow-sm transition hover:ring-4 hover:ring-blue-400 active:opacity-90"
      >
        <div class="absolute right-0 top-0 opacity-25">
          <svg
            class="hi-mini hi-bolt w-30 h-30 inline-block"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M11.983 1.907a.75.75 0 00-1.292-.657l-8.5 9.5A.75.75 0 002.75 12h6.572l-1.305 6.093a.75.75 0 001.292.657l8.5-9.5A.75.75 0 0017.25 8h-6.572l1.305-6.093z"
            ></path>
          </svg>
        </div>
        <div class="flex grow flex-col">
          <div class="p-5 space-x-2">
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              online
            </div>
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              training
            </div>
            <div
              class="text-black-700 bg-black-200 inline-flex rounded bg-black bg-opacity-25 px-2 py-1 text-sm font-semibold leading-4 text-white"
            >
              courses
            </div>
          </div>
          <div class="grow space-y-1 p-5">
            <h3 class="text-lg font-semibold">React training</h3>
            <p class="text-base font-medium text-white">
              Pick anyone of these modules and start learning React today. All presentations, code examples and
              exercises are available for free (OSS).
            </p>
          </div>
        </div>
        <div class="p-5 text-sm font-medium uppercase tracking-wide opacity-75">6 modules</div>
      </div> -->
    </div>
  </div>
</div>
