.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main section {
  /* height: 80vh; */
  padding: 2rem 4rem 2rem 4rem;
}

.intro {
  width: 70%;

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    color: darkslategray;
  }

  hr {
    border: 1px solid black;
    margin: 2rem 0;
  }

  /* @media (max-width: 600px) {
    width: 40%;
  } */
}

.introContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem 4rem 0 4rem; */
  background: #f5f5f5;

  img {
    border-radius: 50%;
    height: 420px;
    margin-bottom: 3rem;
  }

  @media (max-width: 600px) {
    img {
      display: none;
    }
  }
}

.aboutContainer {
  line-height: 1.5;

  p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}

.projectContainer {
  background: #f5f5f5;
}

.abandonwareContainer {
  background: #f5f5f5;
}
